{% comment %} Given a 'tagSlug' print its name and related posts {% endcomment %}

{% include get-tag-name.html %}

{% comment %} If tagSlug existed in the site-wide tags and there is more than one item with that tag, print related {% endcomment %}
{% assign numberOfPostsWithThisTag = site.tags[tagSlug]|size %}
{% if tagExists and numberOfPostsWithThisTag > 1 %}
<h5 class="category-title">More from the {{tagName}} collection</h5>
<p class="category-link"><a href="#">View all</a></p>
<ul class="small-block-grid-2 large-block-grid-4 video-links">
	{% for post in site.tags[tagSlug] limit:5 %}
		{% if  post.id != page.id %}
			<li class="post-image-link post-image-link-{{forloop.index0}}"><a href="{{post.url}}"><img src="http://b.vimeocdn.com/ts/578/881/57888106_200.jpg"></a></li>
		{% endif %}
	{% endfor %}
</ul>
{% endif %}