/* Webicons by Adam Fairhead at Fairhead Creative http://fairheadcreative.com */
/* line 3, ../sass/webicons.scss */
.webicon {
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* line 4, ../sass/webicons.scss */
.webicon:hover {
  margin: -1px 0 1px;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

/* line 5, ../sass/webicons.scss */
.webicon.small {
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 6, ../sass/webicons.scss */
.webicon.large {
  width: 48px;
  height: 48px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 15, ../sass/webicons.scss */
.no-svg .webicon.facebook {
  background: url("webicons/webicon-facebook-m.png");
}

/* line 16, ../sass/webicons.scss */
.no-svg .webicon.facebook.large {
  background: url("webicons/webicon-facebook.png");
}

/* line 17, ../sass/webicons.scss */
.no-svg .webicon.facebook.small {
  background: url("webicons/webicon-facebook-s.png");
}

/* line 18, ../sass/webicons.scss */
.svg .webicon.facebook {
  background: url("webicons/webicon-facebook.svg");
}

/* line 15, ../sass/webicons.scss */
.no-svg .webicon.flickr {
  background: url("webicons/webicon-flickr-m.png");
}

/* line 16, ../sass/webicons.scss */
.no-svg .webicon.flickr.large {
  background: url("webicons/webicon-flickr.png");
}

/* line 17, ../sass/webicons.scss */
.no-svg .webicon.flickr.small {
  background: url("webicons/webicon-flickr-s.png");
}

/* line 18, ../sass/webicons.scss */
.svg .webicon.flickr {
  background: url("webicons/webicon-flickr.svg");
}

/* line 15, ../sass/webicons.scss */
.no-svg .webicon.github {
  background: url("webicons/webicon-github-m.png");
}

/* line 16, ../sass/webicons.scss */
.no-svg .webicon.github.large {
  background: url("webicons/webicon-github.png");
}

/* line 17, ../sass/webicons.scss */
.no-svg .webicon.github.small {
  background: url("webicons/webicon-github-s.png");
}

/* line 18, ../sass/webicons.scss */
.svg .webicon.github {
  background: url("webicons/webicon-github.svg");
}

/* line 15, ../sass/webicons.scss */
.no-svg .webicon.twitter {
  background: url("webicons/webicon-twitter-m.png");
}

/* line 16, ../sass/webicons.scss */
.no-svg .webicon.twitter.large {
  background: url("webicons/webicon-twitter.png");
}

/* line 17, ../sass/webicons.scss */
.no-svg .webicon.twitter.small {
  background: url("webicons/webicon-twitter-s.png");
}

/* line 18, ../sass/webicons.scss */
.svg .webicon.twitter {
  background: url("webicons/webicon-twitter.svg");
}

/* line 15, ../sass/webicons.scss */
.no-svg .webicon.youtube {
  background: url("webicons/webicon-youtube-m.png");
}

/* line 16, ../sass/webicons.scss */
.no-svg .webicon.youtube.large {
  background: url("webicons/webicon-youtube.png");
}

/* line 17, ../sass/webicons.scss */
.no-svg .webicon.youtube.small {
  background: url("webicons/webicon-youtube-s.png");
}

/* line 18, ../sass/webicons.scss */
.svg .webicon.youtube {
  background: url("webicons/webicon-youtube.svg");
}
