---
layout: page
---
<script type="text/javascript">
var YCU = YCU || {};
YCU.pageMeta = YCU.pageMeta || {};
YCU.pageMeta.layout = "{{page.layout}}";
YCU.pageMeta.slug = "{{page.slug}}";
YCU.pageMeta.banner = "{{page.banner}}";
YCU.pageMeta.banner = "{{page.banner}}";
YCU.pageMeta.bannerSrc = "{{page.bannerSrc}}";
YCU.pageMeta.bannerSrc = "{{page.bannerSrc}}";
YCU.pageMeta.bannerCredit = "{{page.bannerCredit}}";
YCU.pageMeta.bannerCredit = "{{page.bannerCredit}}";
YCU.pageMeta.bannerLicense = "{{page.bannerLicense}}";
</script>
{{page}}
{{content}}