---
layout: page
---
{% if  page.bannerOffset %}
	{% assign bannerOffset = page.bannerOffset %}
{% else %}
	{% assign bannerOffset = 0 %}
{% endif %}

{{content}}

{% for item in site.categories[page.slug] limit:1000 %}
  {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
  {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

  {% if date != ndate %}
    <h4 class='month'>{{item.date | date: '%B %Y'}}</h4>
  {% endif %}
  <a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}} <span class='date'>&#126; {{item.date | date:"%b %d"}}</span></a>
{% endfor %}

<script type="text/template" id="template-city-topper"> 
	<div class="city-topper-wrapper"> 
		<div class="city-topper-image" style="background-image:url({{page.banner}}); background-position-y:-{{bannerOffset}}px">

			<div class="row">
				<div class="small-12 columns">
					<h1>{{page.title}}</h1>
				</div>
			</div>
		</div>
		<div class="city-topper-meta">
			<p class="credit"><span>Photo:</span> <a href="{{page.bannerSrc}}">{{page.bannerCredit}}</a></p>
		</div>
	</div>
</script>
<script type="text/javascript">
var YCU = YCU || {};
YCU.pageMeta = YCU.pageMeta || {};
YCU.pageMeta.layout = "{{page.layout}}";
YCU.pageMeta.slug = "{{page.slug}}";
YCU.pageMeta.banner = "{{page.banner}}";
YCU.pageMeta.banner = "{{page.banner}}";
YCU.pageMeta.bannerSrc = "{{page.bannerSrc}}";
YCU.pageMeta.bannerCredit = "{{page.bannerCredit}}";
YCU.pageMeta.bannerLicense = "{{page.bannerLicense}}";
YCU.pageMeta.bannerOffset = "{{page.bannerOffset}}";
</script>