---
layout: default
section: blog
---

	<div class="ycu-topper">
		<!-- featured video -->
		<div class="fullscreen-video-wrapper">
			<div class="fullscreen-video">
				<iframe src="http://player.vimeo.com/video/10839224?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		</div>
	</div>


	<!-- ycu-content -->
	<div class="ycu-content ycu-content-video">
		

		<div class="row">
			<div class="small-12 columns">
				<h2>{{page.title}}</h2>
			</div>
		</div>
		

		<div class="row">
			<div class="large-9 columns">
				<p class="media-readin">{{page.content | markdownify }}</p>
				
			</div>
			<div class="large-3 columns">
				<h6>About</h6>
				<ul>
					<li><p class="media-credit"><span>By:</span> MINIMUS</p></li>
				</ul>

				<ul class="social">
					<li><a href="#" class="webicon small twitter"></a></li>
					<li><a href="#" class="webicon small facebook"></a></li>
					<!-- <li><a href="#" class="webicon vimeo"></a></li> -->
				</ul>
			</div>
		</div>

		
		<!-- City Videos -->
		<div class="row">
			<div class="large-9 columns">
				<h5 class="category-title">More from San Francisco</h5>
				<p class="category-link"><a href="{{site.baseurl}}/cities/{{page.categories | first }}/">View all</a></p>
				<ul class="small-block-grid-2 large-block-grid-4 video-links">
					{% for post in site.categories[page.category] limit:4 %}
						{% if  post.id != page.id %}
						<li class="post-image-link post-image-link-{{forloop.index0}}"><a href="{{post.url}}"><img src="http://b.vimeocdn.com/ts/578/881/57888106_200.jpg"></a></li>
						{% endif %}
					{% endfor %}
					<li class="add-video"><span>+</span></li>
				</ul>
			</div>
		</div>


		<!-- Collection Videos -->
		{% for tagSlug in page.tags %}
		<div class="row">
			<div class="large-9 columns">
			{% include tag-links.html %}
			</div>
		</div>
		{% endfor %}

	</div>
	<!-- /ycu-content -->