---
layout: default
section: blog
---

  <!-- featured video -->
  <div class="fullscreen-video-wrapper">
    <div class="fullscreen-video">
      <iframe src="http://player.vimeo.com/video/10839224?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>

  <div class="ycu-content">
    

    <div class="row">
      <div class="small-12 columns">
        <h2>The Miniature City</h2>
      </div>
    </div>
    

    <div class="row">
      <div class="large-9 columns">
        <p class="media-readin">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
      </div>
      <div class="large-3 columns">
        <h6>About</h6>
        <ul>
          <li><p class="media-credit"><span>By:</span> MINIMUS</p></li>
        </ul>

        <ul class="social">
          <li><a href="#" class="webicon small twitter"></a></li>
          <li><a href="#" class="webicon small facebook"></a></li>
          <!-- <li><a href="#" class="webicon vimeo"></a></li> -->
        </ul>
      </div>
    </div>

    
    <!-- City Videos -->
    <div class="row">
      <div class="large-9 columns">
        <h5 class="city">More from San Francisco</h5>
        <p class="city-link"><a href="#">View all</a></p>
        <ul class="small-block-grid-2 large-block-grid-4 video-links">
          <li><img src="http://b.vimeocdn.com/ts/578/881/57888106_200.jpg"></li>
          <li><img src="http://b.vimeocdn.com/ts/486/172/48617238_200.jpg"></li>
          <li><img src="http://b.vimeocdn.com/ts/148/706/14870667_200.jpg"></li>
          <li class="add-video"><span>+</span></li>
        </ul>
      </div>
    </div>


    <!-- Collection Videos -->
    <div class="row">
      <div class="large-9 columns">
        <h5 class="city">More from the Timelapse collection</h5>
        <p class="city-link"><a href="#">View all</a></p>
        <ul class="small-block-grid-2 large-block-grid-4 video-links">
          <li><img src="http://b.vimeocdn.com/ts/486/172/48617238_200.jpg"></li>
          <li><img src="http://b.vimeocdn.com/ts/578/881/57888106_200.jpg"></li>
          <li><img src="http://b.vimeocdn.com/ts/578/881/57888106_200.jpg"></li>
          <li><img src="http://b.vimeocdn.com/ts/578/881/57888106_200.jpg"></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-9 columns">
        <h5 class="city">More from the Bridges collection</h5>
        <p class="city-link"><a href="#">View all</a></p>
        <ul class="small-block-grid-2 large-block-grid-4 video-links">
          <li><img src="http://b.vimeocdn.com/ts/578/881/57888106_200.jpg"></li>
          <li><img src="http://b.vimeocdn.com/ts/148/706/14870667_200.jpg"></li>
          <li><img src="http://b.vimeocdn.com/ts/578/881/57888106_200.jpg"></li>
          <li><img src="http://b.vimeocdn.com/ts/486/172/48617238_200.jpg"></li>
        </ul>
      </div>
    </div>

  </div>